%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 UNF Spinnaker
        %h5 Official Student Media Source for the University of North Florida
        %p I was given the opportunity to redesign the newspaper’s website, twice. In this most recent version the goals were to better incorporate social media integration, restructure the website to better include the newly renamed Spinnaker Radio and Spinnaker Television, and create a multimedia environment which would allow new student-staff to properly maintain and update it in the upcoming semesters.
      .item-image
        = image_tag('work/spinnaker-devices.png')
    %article.image
      .item-image
        = image_tag('work/spinnaker-index.jpg')
      .item-text
        %h3 Homepage
        %p Above the fold, in addition to a large callout of popular stories, both TV and Radio take up real estate. By including them on the main page, it helps push the multimedia aspect and better demonstrates the products and services which the Spinnaker offers. One challenge when working on this site was including both a leaderboard ad and wide-rectangle above the fold. Revenue from the Ads help ensure the organization continues to operate.
        %p Below the fold are callouts to each of the content departments where the Editor is able to choose which story is featured.
    %article.image
      .item-image
        = image_tag('work/spinnaker-radio.jpg')
      .item-text
        %h3 Radio Page
        %p Nested within the main site sits the radio page. The overall format stays consistant to the layout from the homepage, except now the stories are content created by the station. The radio player also takes up a larger portion above the fold, providing information about the previously played songs.
