%section.m-resume-layout
  .wrapper.m-page.scene_element.scene_element--fadeinup
    %aside
      %h2 R&eacute;sum&eacute;
      %a.button.outline{href: 'jkellum-resume-2016.pdf', :target => '_blank'}
        %i.ion-ios7-download
        PDF Resum&eacute;
    %article
      %figure
        %h2 Education
        %dl
          %h3 University of North Florida
          %h6 Jan. 2009 &ndash; Dec. 2013 | Jacksonville, FL
          %p BFA with a concentration in Graphic Design and Digital Media
      %figure
        %h2 Activities
        %dl
          %h3 AIGA Jacksonville Board Member
          %h6 Aug. 2014 &ndash; Current | JAX Chapter
          %p Communications Chair, Newsletter
        %dl
          %h3 AIGA
          %h6 Sept. 2011 &ndash; Current | JAX Chapter
          %p Membership
      %figure
        %h2 Skills
        %ul
          %li UX / UI / Responsive Design
          %li Sketch 3 / Adobe Creative Suite
          %li HAML / SASS / BEM Methodology
          %li CSS Frameworks / jQuery
          %li Ruby on Rails / PHP
          %li Github / Heroku / Web Prototyping
          %li Command Line / Rspec Testing
          %li Lean-Startup Methods / Agile Development
      %figure
        %h2 Experience
        %dl
          %h3 Ignite by Adecco
          %h4 UX / UI Designer
          %h6 May 2014 &ndash; Current | Jacksonville, FL
          %p Methodically takes complex problems and provides simple and elegant solutions.
        %dl
          %h3 One Spark, Inc.
          %h4 Web Consultant
          %h6 Oct. 2015 &ndash; Jan. 2016 | Jacksonville, FL
          %p Provided UX and UI consulting for development on the One Spark website.
        %dl
          %h3 KYN
          %h4 Product Design Apprenticeship
          %h6 Jan. 2014 &ndash; May 2014 | Jacksonville, FL
          %p Designed and prototyped user experiences for companies in the program as well as consult on branding and marketing strategy.
        %dl
          %h3 Spinnaker Media
          %h6 May 2012 &ndash; Dec. 2013 | Jacksonville, FL
          %p University of North Florida’s official school media source. 2013 Associated Collegiate Press Online Pacemaker Finalist
          %h4 Digital Editor
          %p Responsible for all aspects of Spinnaker Digital publications and management: web services, editorial content, art and design, advertising, budget and personnel.
          %h4 Lead Digital Designer
          %p Designed WordPress theme for the Spinnaker’s 2012 site re&ndash;launch.
          %p Attended the 2012 Associated Collegiate Press National College Media Convention in Chicago, IL.
        %dl
          %h3 Brown Dog Creative
          %h6 Feb. 2013 &ndash; Jul. 2013 | Jacksonville, FL
          %h4 Web Design Internship
          %p Assisted in design and development for many local clients.
        %dl
          %h3 Salty Palms, LLC
          %h6 Jun. 2012 &ndash; Jan. 2013 | Saint Augustine, FL
          %h4 Web Consultant
          %p Designed tri-fold brochure and created custom-themed WordPress e-commerce website using WooCommerce.
        %dl
          %h3 Publix
          %h6 Feb. 2005 &ndash; Feb. 2013 | Saint Augustine, FL
          %h4 Produce Clerk
          %p Assisted in maintaining and managing product inventory.
          %p Store 1239’s first Employee of the Month.
        %h6.v References available upon request.
